body{
    background: rgb(204, 241, 253);
    
}

h1{
    font-size: 300%;
    text-align: center;
}

div#textbox{
    text-align: center;
    background: #caf6e4;
    overflow:hidden;
    margin-left: 20%;
    margin-right: 20%;
    height:360px;
    border: 2px solid rgb(0, 0, 0);
}

p{
    font-size: 20px;
    line-height: 47px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
}

.head{
    text-align: center;
    font-size: 50px;
}

.imgs img{
    max-width: 3in;
    max-height: 2in;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.imgs{
    /*border-spacing: 200px;*/
    border-spacing:280px 50px;
}

.img-text{
    text-align: center;
    font-size: smaller;
    margin-top: 0px;
    width: 200px;
}

.imgs img#uzi{
    height:2in;
    width: 2in;
}
hr{
    margin-top: 50px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#first{
    overflow: hidden;
}

#nav{
    text-align: center;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    width: 230px;
    height: 170px;
    float: left;
    position: absolute;
    top: 121px;
    padding-top: 10px;
    background-color: #caf6e4;
}

#nav button{
    width:180px;
}

#nav a:visited{
    color: darkolivegreen;
    text-decoration: none;
}

#nav a:hover{
    color: blue;
    text-decoration: none;
}

#nav a:link{
    color: darkolivegreen;
    text-decoration: none;
}

#contact{
    margin-bottom: 200px;
}

#info{
    font-size: 35px;
    border: 2px solid rgb(0, 0, 0);
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    background-color: aliceblue;
}