body{
    background-color: rgb(7,192,254);
    
    
}

h1{
    font-size: 300%;
    text-align: center;
}

div#textbox{
    text-align: center;
    background: #caf6e4;
    overflow:hidden;
    margin-left: 20%;
    margin-right: 20%;
    height:360px;
    border: 2px solid rgb(0, 0, 0);
}

p{
    font-size: 20px;
    line-height: 47px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
}
#align{
    text-align: center;
    margin-top: 20px;
}

#press{
    color: black;
}

.head{
    text-align: center;
    font-size: 50px;
}

.imgs img{
    max-width: 3in;
    max-height: 2in;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.imgs{
    /*border-spacing: 200px;*/
    border-spacing:250px 50px;
    margin-left: 0px;
}

.img-text{
    text-align: center;
    font-size: smaller;
    margin-left: center;
    margin-top: 0px;
    width: 200px;
}

.imgs img#uzi{
    height:2in;
    width: 2in;
}
hr{
    margin-top: 50px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#first{
    overflow: hidden;
}

#nav{
    text-align: center;
    font-size: 30px;
    border: 2px solid rgb(0, 0, 0);
    width: 230px;
    height: 235px;
    float: left;
    position: absolute;
    top: 121px;
    padding-top: 10px;
    background-color: #caf6e4;
}

#nav button{
    width:180px;
}

#nav a:hover{
    color: blue;
    text-decoration: none;
}

#nav a{
    color: darkolivegreen;
    text-decoration: none;
}

#nav a{
    color: darkolivegreen;
    text-decoration: none;
}

#kanye-quote{
    text-align: center;
}

#quote{
    min-height: 200px;
}

#div-button{
    text-align: center;
}

#contact{
    margin-bottom: 200px;

}

.info{
    font-size: 35px;
    border: 2px solid rgb(0, 0, 0);
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    background-color: aliceblue;
}

#zipList{
    border: 1px solid rgb(0, 0, 0);
    max-width: 1000px;
    text-align: center;
    padding-bottom:40px;
    margin-left: auto;
    margin-right: auto;
    
}
#zipList p{
    margin-bottom: -20px;
    font-size: 17px
}

#zip-button{
    margin-left: 15px;
}

#hover{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-left: 425px;
    background-color: aliceblue;
    border: 2px solid rgb(0, 0, 0);
    max-width: 600px;
}
#abbs{
    font-size: 16px;
}
#unrec{
    color:red;
}

#contact a:hover{
    color:blue ;

}

